*, *::before, *::after {
box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
font: inherit;
}

html {
color-scheme: dark light;
}

body {
min-height: 100vh;
}

img, picture, svg, video {
display: block;
max-width: 100%;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background: rgb(240, 233, 233);
  font-size: 1.2rem;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

a:hover {
  color: blueviolet;
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.nav-title {
  font-size: 2rem;
}

.nav-list {
  display: flex;
  align-items: flex-end;
}

.nav-link {
  margin-right: 2em;
}

form {
  background: lightblue;
  padding: 1em .5em;
}

fieldset {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  border: 0;
}

label {
  margin: 1em 0;
  font-weight: bold;
}

.btn {
  border: 0;
  padding: 0.5em 1em;
  margin-top: 1em;
  background: linear-gradient(to right,rgb(163, 26, 26), rgb(229, 18, 18));
  min-width: 50%;
  margin: 1em auto;
  border-radius: 5px;
  cursor: pointer;
}

.blog-posts {
  margin: 0 auto;
}

.blog-title {
  font-size: 2rem;
  font-weight: bold;
  margin: .5em 0;
}

.blog-body {
  margin-bottom: .5em;
}